<div id="404">
  <div class="container text-center">
    <h1 class="display-1 mb-3">404</h1>
    <hr/>
    <h2>La pagina che stavi cercando non esiste.</h2>
    <div class="help">
      <p>Pensi che ci sia stato un errore?<br/><span class="mobile-spacer">&nbsp;</span>Per favore <a href="mailto:c.decal@campus.unimib.it?subject=Esperimento Chatbot COVID-19">contattaci.</a></p>
    </div>
  </div>
</div>
