#map {
  margin: 30px;

  #formcontainer {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

#headline {
	text-align: center;
	margin: 20px;
}

#mapcontainer {
  position: absolute;
  margin: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 60px;
  height: auto;
}

#mapid {
	width: 100%;
	height: 100%;
}

@media only screen and (max-width: 550px) {
  h1 {
  	font-size: 26px;
  }

  h3 {
  	font-size: 18px;
  }

  #faqcontainer {
  	margin: 30px;
  	display: none;
  }

  #headline {
  	display: none;
  }
}

#textContainer {
  font-weight: 700;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  line-height: 1.6;
  font-weight: 400;
}

#surveycontainer {
  margin-top: 30px;
  display: block;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 35px;
  flex: 0 0 100%;
  width: 100%;
  background-color: lightgray;
  color: #41464D;
  align-items: center;
  justify-content: center;
}

#customform {
  display: block;
}

#custombutton {
  display: block;
  margin: 20px auto 0;
}

@media (max-width: 700px) {
  .widecontainer {
    margin-top: 20px;
    display: block;
  }

  #surveycontainer {
    display: block;
    width: 100%;
    padding: 30px 20px;
    margin-bottom: 20px;
    margin-top: 30px;
  }
}

.smalltext {
  line-height: 24px;
  margin-bottom: 2px;
  font-size: 16px;
}

#containerinfo {
  margin-bottom: 20px;
}


.button {
    color: #162363;
    background-color: #fedf67;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
    border-radius: 4px;
    border: none;
    padding: 12px 30px;
    cursor: pointer;
    transition-property: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    line-height: normal;
}

.button.large {
    font-weight: 700;
    font-size: 18px;
    padding: 18px 30px;
}

.button.dark {
    background-color: #162363;
    color: #fff;
}

#page-wrap {
  padding-bottom: 0px;
}

input[type=text], input[type=tel] {
  height: 46px!important;
  line-height: 46px;
  vertical-align: middle;
  border-radius: 0;
  margin-bottom: 10px;
  width: 100%;
  color: #000;
  padding: 6px 10px;
  background-color: #fff;
  border: 1px solid #d1d1d1;
  box-shadow: none;
  box-sizing: border-box;
}

#input1 {
  background-color: #fff;
      margin: 25px 0;
      width: 100%;
      font-size: 18px;
      line-height: 30px;
      text-align: center;
      text-transform: capitalize;
      box-shadow: 0 0 14px 2px rgba(0,0,0,.25);
      border-radius: 4px;
      cursor: pointer;
      color: #000;
      vertical-align: middle;
      height: 55px;
      display: inline-flex;
          align-items: center;
          justify-content: center;
}

#inputspan {
  display: flex;
  background-color: white;
  margin: 25px 0;
  width: 100%;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  box-shadow: 0 0 14px 2px rgba(0,0,0,.25);
  border-radius: 4px;
  cursor: pointer;
  color: #000;
  vertical-align: middle;
}

#radioinput {
  flex: 0 0 45px;
  width: 45px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  font-size: 25px;
  vertical-align: middle;
  background-color: #162363;
  border-right: 1px solid #fff;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#labelcontainer {
  flex: 1 1 auto;
  text-align: center;
  line-height: 55px;
  height: 55px;
  vertical-align: middle;
}

#inputspan:hover {
  background-color: rgb(227, 228, 236);
}

#surveycontainer {
  display: none;
}