<div id="contact" v-cloak>
  <div class="container">
    <h1 class="text-center">Contattaci</h1>
    <div class="contact-form" v-if="!cloudSuccess">
      <p class="text-center">Hai domande? Suggerimenti per migliorare il servizio? Scrivici con il form qui sotto e ti risponderemo al più presto.</p>
      <hr/>
      <ajax-form action="deliverContactFormMessage" :syncing.sync="syncing" :cloud-error.sync="cloudError" @submitted="submittedForm()" :handle-parsing="handleParsingForm">
        <div class="form-group">
          <label for="full-name">Nome</label>
          <input class="form-control" id="full-name" name="full-name" type="text"  :class="[formErrors.fullName ? 'is-invalid' : '']" v-model.trim="formData.fullName" placeholder="Mario Rossi" autocomplete="name" focus-first>
          <div class="invalid-feedback" v-if="formErrors.fullName">Per favore inserisci il tuo nome.</div>
        </div>
        <div class="form-group">
          <label for="email-address">Indirizzo email</label>
          <input class="form-control" id="email-address" name="email-address" type="email"  :class="[formErrors.emailAddress ? 'is-invalid' : '']" v-model.trim="formData.emailAddress" placeholder="sturgeon@example.com" autocomplete="email">
          <div class="invalid-feedback" v-if="formErrors.emailAddress">Per favore inserisci un indirizzo email valido.</div>
        </div>
        <div class="form-group">
          <label for="topic">Oggetto</label>
          <input class="form-control" id="topic" name="topic" type="text"  :class="[formErrors.topic ? 'is-invalid' : '']" v-model.trim="formData.topic" placeholder=" Aiuto con l'app" autocomplete="none">
          <div class="invalid-feedback" v-if="formErrors.topic">Per favore scegli un oggetto per il tuo messaggio.</div>
        </div>
        <div class="form-group">
          <label for="message">Messaggio</label>
          <textarea class="form-control" id="message" name="message" :class="[formErrors.message ? 'is-invalid' : '']" v-model.trim="formData.message" placeholder="Come funziona l'app?" autocomplete="none"></textarea>
          <div class="invalid-feedback" v-if="formErrors.message">Il messaggio non può essere vuoto.</div>
        </div>
        <p class="text-danger" v-if="cloudError"><small>Si è verificato un problema. Riprova più tardi.</small></p>
        <div class="form-group">
          <ajax-button type="submit" :syncing="syncing" class="btn btn-dark btn-lg btn-block">Invia messaggio</ajax-button>
        </div>
      </ajax-form>
    </div>
    <div class="success-message" v-if="cloudSuccess">
      <p class="text-center">Grazie per averci contattato!</p>
      <hr/>
      <p>Abbiamo ricevuto il tuo messaggio, e ti contatteremo presto.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
