<div id="faq">
  <div class="container">
    <h1>Aiuto</h1>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>A cosa serve questo sito?</h4>
      <p>Questo sito reso poi disponibile gratuitamente alla collettività serve a mostrare una mappa con i sintomi segnalati con l'applicazione e dalla chat qui integrata.</p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Come faccio a compilare i sintomi?</h4>
      <p>Per favore clicca sul pulsante in basso a destra <a href="/map"><strong>qui</strong></a>. Dovrebbe aprirsi un menu a tendina.</p>
    </div>

    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Le mie informazioni sono condivise in modo anonimo?</h4>
      <p>Sì, le uniche informazioni che sono salvate sono i sintomi e un indirizzo inserito dall'utente.</p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Chi ha sviluppato questo sito?</h4>
      <p>Cesare de Cal ha sviluppato il sito e l'app sotto la supervisione del Prof. Federico Cabitza e della Dott.ssa Michela Assale dell'Università degli Studi di Milano-Bicocca.</p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Ho un problema. Come posso contattarvi?</h4>
      <p>Per qualsiasi segnalazione <a href="mailto:c.decal@campus.unimib.it?subject=Esperimento Chatbot COVID-19"><strong>contattaci</strong></a>.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
