<div id="faq">
  <div class="container">
    <h1>Domande Frequenti</h1>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>A cosa serve questo sito?</h4>
      <p>Questo sito reso poi disponibile gratuitamente alla collettività serve a mostrare una mappa con i sintomi segnalati con l'applicazione e dalla chat qui integrata.</p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Posso scaricare l'app?</h4>
      <p>Sì, abbiamo sviluppato un'applicazione per iOS gratuita disponibile su <a target="_blank" href="http://getbootstrap.com/docs/4.0/getting-started/introduction/"><strong>App Store</strong></a>.</p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Le mie informazioni sono condivise in modo anonimo?</h4>
      <p>Sì, le uniche informazioni che sono salvate sono i sintomi e un indirizzo inserito dall'utente.</p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Chi ha sviluppato questo sito?</h4>
      <p>Cesare de Cal ha sviluppato il sito e l'app sotto la supervisione del Prof. Federico Cabitza e della Dott.ssa Michela Assale dell'Università degli Studi di Milano-Bicocca.</p>
    </div>

    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Come posso contattarvi?</h4>
      <p>Per qualsiasi richiesta o suggerimenti <a href="/contact"><strong>contattaci</strong></a>.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
