<div id="faq">
  <div class="container">
    <h1>FAQ</h1>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>A cosa serve questo sito?</h4>
      <p>This website helps fight COVID-19. Use it to explore what Twitter is saying or track your symptoms.</p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Posso scaricare l'app?</h4>
      <p>Yes, we built an iOS app currently available on the <a target="_blank" href="http://getbootstrap.com/docs/4.0/getting-started/introduction/"><strong>App Store</strong></a>.</p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Le mie informazioni sono condivise in modo anonimo?</h4>
      <p>Yes. We do not store identifiable data and we only collect the .</p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Come posso contattarvi?</h4>
      <p>University project built by Cesare De Cal, say hi <a target="_blank" href="http://getbootstrap.com/docs/4.0/getting-started/introduction/"><strong>on Twitter</strong></a> or <a href="/contact"><strong>get in touch</strong></a>.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
