<div id="faq">
  <div class="container">
    <h1>FAQ</h1>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>What is this website for?</h4>
      <p>This website helps fight COVID-19. Use it to explore what Twitter is saying or track your symptoms.</p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>Is there an app available?</h4>
      <p>Yes, we built an iOS app currently available on the <a target="_blank" href="http://getbootstrap.com/docs/4.0/getting-started/introduction/"><strong>App Store</strong></a>.</p>
    </div>
    <div class="q-and-a">
      <hr class="mt-4 mb-4"/>
      <h4>How can I get in touch?</h4>
      <p>Please <a href="/contact"><strong>contact us</strong></a>.</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
