<div id="map" v-cloak>
	
<!-- 	<div id="checkboxdiv">
		<label id="customlabel">Search as I move the map
		</label>
	</div>
	<div id="mapid"></div> -->

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
