<div id="map" v-cloak>
	<div id="mapcontainer">
		<div id="mapid"></div>
	</div>

	 <div id="surveycontainer">
		<div id="containerinfo">
			<h3>Hai sintomi?</h3>
		</div>
		<form id="customform" action="/api/v1/call" method="POST">

			<label id="inputspan">
				<span id="radioinput">
					<input type="radio" name="timeSlot" required="" value="2020-04-09T21:00:00.000Z">
				</span>
				<span id="labelcontainer">Sì, ho sintomi
				</span>
			</label>

			<label id="inputspan">
				<span id="radioinput">
					<input type="radio" name="timeSlot" required="" value="2020-04-09T21:00:00.000Z">
				</span>
				<span id="labelcontainer">No, ho sintomi
				</span>
			</label>


		</form>
	</div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
