<div id="reports" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/reports.less</em>, <em>assets/js/pages/reports.page.js</em>, and <em>api/controllers/view-reports.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
