<div id="startsurvey" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/startsurvey.less</em>, <em>assets/js/pages/startsurvey.page.js</em>, and <em>api/controllers/view-startsurvey.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
