<div id="startsurvey" v-cloak>
	<div class="widecontainer">
		<div id="textContainer">
			<h1>Inizia il questionario</h1>
			<p>5 domande sul tuo stato di salute generale.</p>
		</div>
		<div id="widecontainer-secondary">
			<div id="containerinfo">
				<h3>Chiamata gratuita</h3>
				<p class="smalltext">📆Adesso</p>
				<p class="smalltext">👤Con un Assistente virtuale</p>
			</div>
			<form id="customform" action="/">
				<label for="fullName">Nome e cognome</label>
				<input id="fullName" name="fullName" type="text" placeholder="Giovanni Rossi" required="" value="">

				<label for="phone">Telefono</label>
				<input id="phone" name="phone" type="tel" placeholder="123456789" required="" value="" pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}">
				<input type="submit" id="custombutton" class="large button dark" value="Chiamami adesso">
			</div>
		</div>
	</div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
