<!-- <div id="startsurvey" v-cloak>
	<div class="widecontainer">
		<div id="textContainer">
			<h1>Inizia il questionario</h1>
			<p>5 domande sul tuo stato di salute generale.</p>
		</div>
		<div id="widecontainer-secondary">
			<div id="containerinfo">
				<h3>Chiamata gratuita</h3>
				<p class="smalltext">📆Adesso</p>
				<p class="smalltext">👤Con un Assistente virtuale</p>
			</div>
			<form id="customform" action="/api/v1/call" method="POST">
				<label for="customerName">Nome e cognome</label>
				<input id="customerName" name="customerName" type="text" placeholder="Giovanni Rossi" required="" value="">

				<label for="phoneNumber">Telefono</label>
				<input id="phoneNumber" name="phoneNumber" type="tel" placeholder="393700000000" required="" value="">
				<input type="submit" id="custombutton" class="large button dark" value="Chiamami adesso">
				<input type="hidden" name="_csrf" value="<%= _csrf %>" />
			</div>
		</div>
	</div>
</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
 -->